body{
    line-height: 1.42857;
    color: #404040;
    background-color: #f9f9f9;
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
}
body,html{
    width: 100%;
    height: 100%;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
.container{
    background-color: white;
    height: 1024px;
}
/*顶部导航区域*/
.nav{
    /*background-color:white;*/
    width: 100%;

}
.nav .nav_cont {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*overflow: hidden; 会把下拉菜单拦住*/
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    z-index: 100;
}
.nav .nav_last {
    position: relative;
    display: block;
    height: 56px;
}
.nav .nav_cont_main{
    height: 56px;
    min-width: 1200px;
    max-width: 1440px;
    margin: 0 auto;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
}
.nav .nav_title_img {
    float: left;
    color: #ec7259;
    margin: 0 30px;
    display: flex;/*弹性布局 居中*/
    align-items: center;/*弹性布局 居中*/
    height: 56px;
}
.nav .nav_title_img_svg {
    fill: currentColor;
    vertical-align: middle;/*这里有点问题，调试样式并无作用效果。且官方认为，父级设置设为Flex布局以后，子元素的float、clear和vertical-align属性将失效*/
}
.nav .nav_cont_right {
    float: right;
    margin: 0 16px;
    display: flex;
}

.nav_cont_right_anticon{
    cursor: pointer;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.nav_cont_v{
    margin: 0 8px;
    height: 48px;
    font-size: 24px;
    color: #999;
    display: flex;
    align-items: center;
}
.nav .nav_cont_right_zuan {
    cursor: pointer;
    margin: 0 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;/*居中两件套*/
    align-items: center;
}

.nav .nav_cont_right_zuan_svg  {
    fill: currentColor;
    vertical-align: middle;
}

.nav .nav_cont_right_img_a {
    padding: 0 12px;
    margin-right: 8px;
    color: #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    height: 56px;
}
.nav .nav_cont_right_img_a:hover{/*鼠标滑过效果*/
    background-color: #f5f5f5;
}
/*.nav_cont_right_img_a:hover .dropdown-menu{ 该效果不能生效不知道为啥，只能JS了吗
 display: block;
}*/
.nav .nav_cont_right_img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.nav img {
    vertical-align: middle;
    border-style: none;
}

.nav .nav_cont_menu {
    display: flex;
    align-items: center;
    height: 56px;
}

.nav .nav_cont_menu_anvlist {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 56px;
}

.nav .nav_cont_menu_anvlist_a {
    font-size: 17px;
    color: #333;
    padding: 0 20px;/*是不是因为magin挨在一起会合并所以用padding 拉开间隔*/
    cursor: pointer;
    display: flex;/*这个属性是不是可以替代浮动了*/
    align-items: center;/*align-items: center 垂直居中； justify-content:center 水平居中*/
    /*justify-content:center;*/
    height: 56px;
}
.nav .nav_cont_menu_anvlist_aa, .nav_cont_menu_anvlist_aa:active, .nav_cont_menu_anvlist_aa:hover {
    color: inherit;
}

.nav .nav_cont_search {
    display: flex;
    align-items: center;
    margin-left: 16px;
    height: 48px;
}
.nav .nav_cont_search_cont {
    display: inline-flex;
    position: relative;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.nav .nav_cont_search_cont_input_span {
    position: absolute;
    font-size: 16px;
    top: 50%;
    right: 16px;
    line-height: 0;
    z-index: 2;
    color: #969696;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.nav .nav_cont_search_cont_input_i {
    width: 160px;
    transition: width .3s ease;
}
.nav .nav_cont_search_cont_input_ii {
    width: 100%;
    height: 36px;
    padding: 8px 36px 8px 16px;
    border-radius: 18px;
    border: none;
    background-color: #f2f2f2;
}


.nav .dropdown-menu {
    left: auto;
    border-radius: 0 0 4px 4px;
}
.nav .dropdown-menu {
    margin-top: 0;
    border-color: transparent;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    filter: drop-shadow(0 2px 8px rgba(0,0,0,.1));
    -webkit-filter: drop-shadow(0 2px 8px rgba(0,0,0,.1));
}
.nav .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
   /*display: none;*/
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    background-clip: padding-box;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.nav .dropdown-menu a {
    padding: 10px 20px;
    line-height: 30px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: #333;
    white-space: nowrap;
}
a {
    cursor: pointer;
    background-color: transparent;
}
.nav .user .dropdown-menu i {
    margin-right: 15px;
    font-size: 18px;
    color: #ea6f5a;
    vertical-align: middle;
}
@font-face {
    font-family: iconfont;
    src: url( https://cdn2.jianshu.io/assets/fonts/web/iconfont-e093bb0217ccb9145ad1ce9fe0be18b2.eot);
    src: url( https://cdn2.jianshu.io/assets/fonts/web/iconfont-e093bb0217ccb9145ad1ce9fe0be18b2.eot#iefix) format("embedded-opentype"),url("https://at.alicdn.com/t/font_125126_ndt24abtqwd.woff2?t=1639536569963") format("woff2"),url("https://at.alicdn.com/t/font_125126_ndt24abtqwd.woff?t=1639536569963") format("woff"),url("https://at.alicdn.com/t/font_125126_ndt24abtqwd.ttf?t=1639536569963") format("truetype"),url(https://cdn2.jianshu.io/assets/fonts/web/iconfont-09f60133defd370096b7064f6bb4fd38.svg#iconfont) format("svg")
}
.iconfont {
    font-family: iconfont!important;
    font-size: inherit;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav .dropdown-menu i {
    margin-right: 15px;
    font-size: 18px;
    color: #ea6f5a;
    vertical-align: middle;
}
.ic-icon_mine:before {
    content: "\E68D";
}
.ic-icon_collection:before {
    content: "\E689";
}
.ic-icon_like:before {
    content: "\E687";
}
.ic-icon_purchased:before {
    content: "\E68A";
}
.ic-icon_wallet:before {
    content: "\E68B";
}
.ic-icon_setting:before {
    content: "\E688";
}
.ic-icon_help:before {
    content: "\E686";
}
.ic-icon_logout:before {
    content: "\E68C";
}

/*主体区域*/
.main {
    padding-top: 10px;
    background-color: #f9f9f9;
}
.main .main_cont{
    background-color: #fff;
    display: flex;/*这个流布局属性很重要，使子元素可以单个不换行而类似浮动排列（左右部分）！！！*/
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 66px);
    font-size: 16px;

    box-sizing: content-box;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.main .main_cont_left{
    flex-shrink: 0;
    margin-bottom: 24px;
    margin-right: 10px;
    width: 730px;
}
.main_cont_left_section{
    padding: 32px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
}
.main_cont_right{
    flex-shrink: 0;
    width: 260px;
}
.main_cont_right_adv {
    position: relative;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    background: #fff;
}
.main_cont_right_meinfo {
    padding: 16px;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    position: relative;
}
.main_cont_right_meinfo_view {
    display: flex;
    align-items: center;
}
.main_cont_right_meinfo_view_a {
    position: relative;
}
.main_cont_right_meinfo_view_aa, .main_cont_right_meinfo_view_aa:active, .main_cont_right_meinfo_view_aa:hover {
    color: inherit;
}
.main_cont_right_meinfo_view_img {
    display: block;
    border-radius: 50%;
    border: 1px solid #eee;
    min-width: 45px;
    min-height: 45px;
    width: 45px;
    height: 45px;
}
.main_cont_right_meinfo_view_right {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    min-height: 45px;
    margin-left: 8px;
}
.main_cont_right_meinfo_view_right_top{
    align-items: center;
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
}
.main_cont_right_meinfo_view_right_top_con {
    display: flex;
    margin-right: 4px;
    overflow: hidden;
    align-items: center;
}

.main_cont_right_meinfo_view_right_top_con_span {
    color: #2d2d2d;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main_cont_right_meinfo_view_right_top_con_icon_a {
    margin-left: 4px;
    margin-right: 0;
    flex-shrink: 0;
    color: inherit;
}
.main_cont_right_meinfo_view_right_top_con_icon_img{
    display: block;
}
.main_cont_right_meinfo_view_right_bottom {
    color: #969696;
    font-size: 12px;
}
