body{
    line-height: 1.42857;
    color: #404040;
    background-color: #f9f9f9;
    font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
}
body,html{
    width: 100%;
    height: 100%;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
.container{
    background-color: white;
    height: 1024px;
}

.nav{
    /*background-color:white;*/
    width: 100%;

}
.nav .nav_cont {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
    z-index: 100;
}
.nav .nav_last {
    position: relative;
    display: block;
    height: 56px;
}
.nav .nav_cont_main{
    height: 56px;
    min-width: 1200px;
    max-width: 1440px;
    margin: 0 auto;
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
}
.nav .nav_title_img {
    float: left;
    color: #ec7259;
    margin: 0 30px;
    display: flex;/*弹性布局 居中*/
    align-items: center;/*弹性布局 居中*/
    height: 56px;
}
.nav .nav_title_img_svg {
    fill: currentColor;
    vertical-align: middle;/*这里有点问题，调试样式并无作用效果。且官方认为，父级设置设为Flex布局以后，子元素的float、clear和vertical-align属性将失效*/
}
.nav .nav_cont_right {
    float: right;
    margin: 0 16px;
    display: flex;
}

.nav_cont_right_anticon{
    cursor: pointer;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.nav_cont_v{
    margin: 0 8px;
    height: 48px;
    font-size: 24px;
    color: #999;
    display: flex;
    align-items: center;
}
.nav .nav_cont_right_zuan {
    cursor: pointer;
    margin: 0 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;/*居中两件套*/
    align-items: center;
}

.nav .nav_cont_right_zuan_svg  {
    fill: currentColor;
    vertical-align: middle;
}

.nav .nav_cont_right_img_a {
    padding: 0 12px;
    margin-right: 8px;
    color: #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    height: 56px;
}
.nav .nav_cont_right_img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.nav img {
    vertical-align: middle;
    border-style: none;
}

.nav .nav_cont_menu {
    display: flex;
    align-items: center;
    height: 56px;
}

.nav .nav_cont_menu_anvlist {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 56px;
}

.nav .nav_cont_menu_anvlist_a {
    font-size: 17px;
    color: #333;
    padding: 0 20px;/*是不是因为magin挨在一起会合并所以用padding 拉开间隔*/
    cursor: pointer;
    display: flex;/*这个属性是不是可以替代浮动了*/
    align-items: center;/*align-items: center 垂直居中； justify-content:center 水平居中*/
    /*justify-content:center;*/
    height: 56px;
}
.nav .nav_cont_menu_anvlist_aa, .nav_cont_menu_anvlist_aa:active, .nav_cont_menu_anvlist_aa:hover {
    color: inherit;
}

.nav .nav_cont_search {
    display: flex;
    align-items: center;
    margin-left: 16px;
    height: 48px;
}
.nav .nav_cont_search_cont {
    display: inline-flex;
    position: relative;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}
.nav .nav_cont_search_cont_input_span {
    position: absolute;
    font-size: 16px;
    top: 50%;
    right: 16px;
    line-height: 0;
    z-index: 2;
    color: #969696;
    transform: translateY(-50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.nav .nav_cont_search_cont_input_i {
    width: 160px;
    transition: width .3s ease;
}
.nav .nav_cont_search_cont_input_ii {
    width: 100%;
    height: 36px;
    padding: 8px 36px 8px 16px;
    border-radius: 18px;
    border: none;
    background-color: #f2f2f2;
}


.main {
    padding-top: 10px;
}
.main .main_cont{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 66px);
    font-size: 16px;

    box-sizing: content-box;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
