@charset "uf-8";/*菜鸟教程手册：https://www.runoob.com/html/html-lists.html*/
body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{
	/*重置使能到顶，源于盒子模型的margin和padding透明且padding随内容块背景色。 width、height设置的均是 盒子内容 的宽高，不含边距边框内同。由内而外依次为：内容盒，填充盒，边框盒。*/
	margin:0;
	padding:0;
	border: none;
	list-style-type: none;
	outline: none;
}
body {
	opacity: 1;
	background: white;
	color: #000;
	font-family:Microsoft YaHei,Arial;
	font-weight:normal;
	font-style: normal;
	cursor: default;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
}
html, body {
	font-size: 100%;/*字体大小：body字体如果设置相对大小则就是相对于浏览器默认字体大小。或继承body设定的字体大小.如body 10px 则html div中的字体 200% = 20px.除了IE8之外,所有浏览器的默认font-size值都为16px*/
	/*总结：body字体可以自己设置大小也可以相对于浏览器默认大小设置百分比。 rem单位可以相对于html根元素设置大小。 rem为相对大小单位，相对的只是HTML根元素的字体大小。如果如上设置，则根下面的元素 1rem=16px*/
}
ul,ol, li {
	list-style: none;
}
img {
	border: 0;
}
a{
	text-decoration: none;
	color: #333;
	outline: 0;
}
main, section, nav, article, aside, header, footer, address {
	display: block;/* 块盒独占一行，行盒不换行。默认块盒：容器元素、h、p；默认行盒（随内容沿伸，不能设置宽高！）：span、a、image、video、audio */
}

i,em,b,strong{
	font-style: normal;
	font-weight: normal;
}
/*清楚浮动*/
.clear::after{
	clear: both;
	content: "";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
/*固定的溢出代码处理*/
.overflowhidden{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}